{{ define "views/category.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .category.CategoryName }} - {{.webInfo.WebName}}</title>
    <meta name="keywords" content="{{.webInfo.Keywords}}" />
    <meta name="description" content="{{.webInfo.Description}}" />
    <link rel="stylesheet" href="/static/css/global.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script>
        window.onload = function(){
            var text = new Array();
            var content = document.getElementsByClassName("content");
            for(i=0;i<content.length;i++){
                text[i] = content[i].innerHTML;
            }
            var HtmlUtil = {
                htmlDecodeByRegExp:function(str){
                    var s = "";
                    if(str.length == 0) return "";
                    s = str.replace(/&amp;/g,"&");
                    s = s.replace(/&lt;/g,"<");
                    s = s.replace(/&gt;/g,">");
                    s = s.replace(/&nbsp;/g," ");
                    s = s.replace(/&#39;/g,"\'");
                    s = s.replace(/&quot;/g,"\"");
                    return s;
                }
            };
            for(let i=0;i<content.length;i++){
                var decodeHTML = HtmlUtil.htmlDecodeByRegExp(text[i]);
                content[i].innerHTML = decodeHTML
            }
        }

    </script>
</head>
<body>
<div id="header">
    <div class="headBox">
        <div class="logo"><h1>CaiCai博客园</h1></div>
        <div class="menu">
            <ul>
                <li class="on"><a href="/">首页</a></li>
                <li><a href="/post">发布文章</a></li>
                <li>留言</li>
            </ul>

        </div>
        <div class="user">登陆 / 注册</div>
    </div>
</div>
<div id="wraper">
    <div class="mainLeft">
    {{ range.articleInfo}}

    <div class="articleInfo">
        <div class="title">{{ .Title}}</div>
        <div class="content">{{ .Summary}}<a href="/article/detail?id={{.Id}}" id="readArticle">阅读全文</a> </div>
        <div class="articleTag">
            <ul>
                <li><i class="fa fa-user-circle"></i>作者：{{ .UserName}}</li>
                <li><i class="fa fa-clock-o"></i>发布日期：{{ .CreateTime}}</li>
                <li><i class="fa fa-tags"></i>分类：{{ .CategoryName}}</li>
                <li><i class="fa fa-eye"></i>浏览：({{ .ViewCount}})</li>
                <li><i class="fa fa-comments"></i>评论：({{ .CommentCount}})</li>
            </ul>

        </div>
    </div>
    {{end}}
    </div>
    <div class="mainRight">
        <div class="categoryList">
            <div class="title"><h2>分类云</h2></div>
        <ul>
            {{range .categoryList}}
            <li><a href="/category/category?id={{.Id}}"> {{.CategoryName}}</a></li>
            {{end}}
        </ul>
        </div>
    </div>
</div>
{{template "footer"}}
</body>
</html>
{{end}}